body{
    background-image: url("images/background-cement-concrete-242236.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#main{
    padding-top: 55px;
    padding-left: 60px;
}

h1{
    font-family: "Courier Head";
}

form{
    margin:auto;max-width:300px;
}
.change input[type=text] {
    border: 1px solid #ccc;
}
.change input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 30px;
}

.valid{
    font-size: xx-large;
    color: #4dc71f;
}

.invalid{
    font-size: xx-large;
    color: red;
}