<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Domain Status</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="email.css"/>

</head>
<body>
<div>
    <h1>Domain Status</h1>

       <ul class="card sos">
         <% name.forEach(function(names){ %>
           <%= names %><br>
         <% })%>
       </ul>

</div>
</body>
</html>
